* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #000306;
    margin: 0;
    font-weight: 300;
}

h1{
    text-transform: uppercase;
}

h1 span{
    color: #be5e38;
}

.intro{
    color: #fff;
    background-color: #be5e38;
    padding: 10px;
    font-weight: 300;
    margin-bottom: 50px;
}

@media screen and (min-width: 1499px){
    .container{
        max-width: 1500px;
    }
}

.container{
    width: 90%;
    margin: 0 auto;
}

.project-link a {
	text-decoration: none;
	background-color: #be5e38;
	color: #fff;
	padding: 6px;
	display: inline-block;
	border-radius: 4px;
	font-weight: 300;
    font-size: 14px;
    margin-bottom: 16px;
}

.gist-wrap{
    width: 100%;
    margin-bottom: 50px;
}

@media screen and (min-width: 1335px){
    .gist-wrap {
        width: 48%;
    }
}

.gists {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.gist-description {
	margin-bottom: 10px;
}

.gist-data{
    height:250px;
    overflow-y: visible;
}